bs4
chromadb
dacite
jsonlines
langchain
langchain_chroma
langchain_community
langchain_huggingface
markdown
openai
openpyxl
pandas
pickledb
rank_bm25
rouge
sentence-transformers
spacy
tabulate
torch
tqdm
transformers
unstructured
word2number
